---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Tireflow Test">
  <div class="py-20 flex justify-center items-center min-h-[50vh]">
    <div class="w-full max-w-7xl mx-auto px-4">
      <div id="tire-flow-responsive-container"></div>
      <script is:inline src="https://tireflow.ezytire.com/6209/1/Script/Client.js"></script>
    </div>
  </div>
</BaseLayout>
