---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="TireFlow Test">
  <div style="padding:40px;">
    <h1>TireFlow Test</h1>

    <script src="https://tireflow.ezytire.com/6209/1/Script/Client.js"></script>
    <div id="tire-flow-responsive-container"></div>

  </div>
</BaseLayout>
